*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Libre Franklin", sans-serif;
  color: #222;
  font-size: 18px;
}

[class*=__container] {
  max-width: 1150px;
  padding: 0px 15px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.first-screen {
  margin-top: 60px;
  margin-bottom: 60px;
}

.first-screen__body {
  display: flex;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 35px;
       column-gap: 35px;
}

.first-screen__text {
  display: flex;
  flex-direction: column;
}

.first-screen__title {
  font-size: 36px;
  margin-bottom: 15px;
}

.title {
  color: #222;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
}

.rate-first-screen {
  display: flex;
  align-items: center;
  -moz-column-gap: 35px;
       column-gap: 35px;
  margin-bottom: 15px;
}

.rate-first-screen__value {
  color: #949494;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  font-family: Inter;
}

.rate-first-screen__value span {
  font-weight: 700;
  font-size: 29px;
  color: #222;
  line-height: 37px;
}

.rate-first-screen__stars {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.users-first-screen {
  display: flex;
  align-items: center;
  -moz-column-gap: 35px;
       column-gap: 35px;
  margin-bottom: 15px;
}

.benefits-first-screen__about {
  color: #222;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  margin-bottom: 10px;
}

.users-first-screen__text {
  display: flex;
  align-items: center;
  -moz-column-gap: 7.5px;
       column-gap: 7.5px;
  font-family: Inter;
}

.users-first-screen__item {
  color: #949494;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.users-first-screen__item_bold {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}

.benefits-first-screen {
  margin-bottom: 15px;
}

.benefits-first-screen__item {
  color: #222;
  font-size: 16px;
  font-weight: 300;
  line-height: 160%;
  list-style: inside;
  text-transform: uppercase;
}

.btn-first-screen__body {
  padding: 5px 5px 5px 25px;
  border-radius: 64px;
  border: 1px solid #000;
  background: #221F1F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 406px;
}

.btn-first-screen__img {
  transform: translateY(3px);
}

.btn-first-screen__text {
  padding: 16px 5px 16px 25px;
  border-radius: 64px;
  background: linear-gradient(103deg, #FFB03A 0%, #F90 91.34%);
  box-shadow: 0px 6px 16px 0px rgba(210, 129, 5, 0.25);
  color: #221F1F;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.advantages {
  margin-bottom: 70px;
}

.advantages__body {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages__item {
  flex: 0 1 263px;
}

.item-advantages {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.item-advantages__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 15.371px;
  text-transform: capitalize;
}

.item-advantages__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.footer {
  background-color: #211f1f;
  padding: 24px 0px;
}

.footer__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  gap: 45px;
}

.footer__item {
  color: #FFF;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.moisturizing {
  margin-bottom: 70px;
}

.moisturizing__body {
  display: flex;
  position: relative;
}

.moisturizing__item {
  flex: 0 1 50%;
  height: 468px;
}

.moisturizing__item_purple {
  background: #7D4DBA;
  box-sizing: border-box;
  padding: 167px 0px 0px 57px;
}

.moisturizing__title {
  color: #FDFCFF;
  font-size: 45px;
  font-weight: 800;
  line-height: 114.24%;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.moisturizing__text {
  color: #FDFCFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 129.9%;
  max-width: 367px;
}

.moisturizing__icon {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  top: 30px;
}

.cards {
  margin-bottom: 70px;
}

.cards__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.cards__item {
  position: relative;
  max-width: 372px;
}

.cards__content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 60px;
}

.cards__text {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cards__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 45.542px;
}

.results {
  margin-bottom: 70px;
}

.results__body {
  display: flex;
  justify-content: space-between;
}

.results__comparison {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.results__row {
  max-width: 275px;
}

.results__title {
  background: #F2C00F;
  padding: 10px 33px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5.04px;
  text-transform: uppercase;
  display: inline-block;
  width: 195px;
}

.results__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.27px;
}

.results__weeks {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.img-results {
  position: relative;
}

.img-results__text {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #F9F9F9;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.results__title_tight {
  padding: 10px 20px;
}

.results__title-section {
  margin-bottom: 30px;
}

.results__title_small {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 37px;
}

.results__section-title {
  color: #7D4DBA;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px;
  text-transform: uppercase;
}

.reviews {
  margin-bottom: 105px;
  position: relative;
}

.slide-reviews-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.user-slide-reviews-info {
  display: flex;
  align-items: start;
  gap: 7.5px;
}

.user-slide-reviews-info__about {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  align-items: start;
  transform: translateY(7px);
}

.user-slide-reviews-info__name {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.515px;
}

.user-slide-reviews-info__rating {
  display: flex;
  gap: 5px;
}

.user-slide-reviews-info__rating img {
  width: 24px;
}

.time-of-posting {
  color: #A0A0A0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.515px;
}

.slide-reviews-text {
  color: #121212;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.swiper-pagination {
  position: relative;
  margin-top: 20px;
}

.swiper-arrows {
  position: relative;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
  margin: 0 auto;
  width: 100px;
}

:root {
  --swiper-navigation-size: 0px;
}

.arrow {
  color: #7D4DBA;
}

.arrow::before {
  background-color: #F2C00F;
  padding: 15px;
  border-radius: 50%;
}

.swiper-pagination-bullets {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #949494;
}

.swiper-pagination-bullet-active {
  width: 14px;
  height: 14px;
  background: #7D4DBA;
}

.users-first-screen__img {
  display: flex;
  gap: 0px;
  position: relative;
  max-width: 160px;
}

.user-img2,
.user-img3,
.user-img4,
.user-img5,
.user-img6 {
  position: relative;
  left: -15px;
}

.user-img3,
.user-img4,
.user-img5,
.user-img6 {
  left: -25px;
}

.user-img4,
.user-img5,
.user-img6 {
  left: -40px;
}

.user-img5,
.user-img6 {
  left: -55px;
}

.user-img6 {
  left: -70px;
}

.user-img7 {
  position: relative;
  left: -85px;
}

@media (max-width: 1200.98px) {
  .cards__body {
    gap: 3px;
  }

  .cards__content {
    padding: 30px 5px;
  }
}

@media (max-width: 1136.98px) {
  .first-screen__body {
    -moz-column-gap: 0px;
         column-gap: 0px;
  }

  .btn-first-screen__text {
    font-size: 20px;
    padding: 16px 5px 16px 15px;
  }

  .benefits-first-screen__item {
    font-size: 15px;
  }

  .advantages__item {
    flex: 0 1 40%;
  }

  .advantages {
    margin-bottom: 40px;
  }

  .moisturizing {
    margin-bottom: 40px;
  }

  .moisturizing__title {
    font-size: 40px;
  }

  .cards {
    margin-bottom: 40px;
  }

  .cards__item {
    align-self: center;
  }

  .cards__img img {
    max-width: 100%;
  }

  .results {
    margin-bottom: 40px;
  }

  .results__body {
    flex-direction: column-reverse;
    row-gap: 30px;
  }

  .img-results img {
    max-height: 400px;
  }

  .results__weeks {
    flex-direction: row;
  }

  .results__row {
    max-width: none;
    flex: 1 1 30%;
  }
}

@media (max-width: 991.98px) {
  .first-screen__body {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .first-screen__text {
    max-width: 625px;
  }

  .first-screen__img img {
    max-width: 100%;
  }

  .first-screen {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .cards__body {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 5px;
  }

  .advantages__item {
    flex: 1 1 320px;
    margin-bottom: 20px;
  }

  .footer__column {
    gap: 15px;
  }

  .moisturizing__body {
    flex-direction: column;
  }

  .moisturizing__item {
    flex: 1 1 100%;
    height: 320px;
  }

  .moisturizing__img img {
    width: 100%;
    height: 340px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .moisturizing__item_purple {
    padding: 40px 50px 40px 50px;
  }

  .moisturizing__text {
    max-width: 100%;
    font-size: 16px;
  }

  .moisturizing__title {
    font-size: 32px;
    margin-bottom: 15px;
  }

  .moisturizing__icon {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 140px;
    width: 140px;
  }

  .results__section-title {
    font-size: 36px;
  }

  .results__title_small {
    font-size: 24px;
  }

  .reviews {
    margin-bottom: 80px;
  }

  .cards__content {
    padding: 30px 60px;
  }
}

@media (max-width: 767.98px) {
  .cards__content {
    padding: 30px 15px 0px 15px;
  }

  .cards__text {
    font-size: 14px;
  }

  .cards__title {
    font-size: 18px;
  }

  .img-results img {
    max-height: none;
    max-width: 100%;
  }

  .results__body {
    flex-direction: column;
  }

  .results__weeks {
    flex-direction: column;
  }

  .slide-reviews-info {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  .reviews {
    margin-bottom: 60px;
  }
}

@media (max-width: 575.98px) {
  .first-screen__title {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .users-first-screen {
    margin-bottom: 10px;
  }

  .rate-first-screen {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }

  .btn-first-screen__text {
    padding: 12px 5px 12px 7.5px;
    font-size: 16px;
  }

  .advantages__item {
    row-gap: 15px;
  }

  .item-advantages__title {
    font-size: 18px;
  }

  .item-advantages__text {
    font-size: 14px;
  }

  .item-advantages__img img {
    max-width: 45px;
  }

  .users-first-screen {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }

  .users-first-screen__item_bold {
    font-size: 16px;
  }

  .users-first-screen__text {
    -moz-column-gap: 5px;
         column-gap: 5px;
  }

  .footer__body {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
  }

  .footer__column {
    display: flex;
    justify-content: space-between;
  }

  .moisturizing__icon img {
    max-width: 100px;
    max-height: 100px;
  }

  .moisturizing__icon {
    width: 100px;
    height: 100px;
  }

  .moisturizing__title {
    font-size: 28px;
  }

  .cards__img img {
    max-width: 100%;
  }

  .cards__body {
    display: flex;
    flex-direction: column;
  }

  .results__comparison {
    align-items: center;
    justify-content: center;
  }

  .results__row {
    max-width: 360px;
  }

  .results__section-title {
    font-size: 32px;
    line-height: 100%;
  }

  .results__title_small {
    font-size: 18px;
  }

  .swiper-arrows {
    display: none;
  }

  .user-slide-reviews-info__img img {
    max-width: 70px;
  }

  .time-of-posting {
    font-size: 12px;
  }

  .slide-reviews-text {
    font-size: 16px;
  }

  .slide-reviews-info {
    margin-bottom: 20px;
  }

  .results__title {
    padding: 8px 16px;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .results__text {
    font-size: 16px;
  }

  .results__weeks {
    row-gap: 30px;
  }
}